html {
  border-radius: 25px;
}

* {
  background-color: black;
  color: white;
  width: 400px;
}
body {
  font-family: "Arial", sans-serif;
  margin: 10px;
  
}

h1 {
  text-align: center;
}


#maliciousScanDiv, #reviewResultDiv{
    text-align: center;
    /* margin-right: 98px; */
   
}

#result{
    font-size: 0.9rem;    
    font-weight: bold;
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 220px;
}


#displayedImage{
  max-width: 5px;
  height: auto;
}

#feedbackFormContainer {
  display: none;
}


img{
  width: 500px;
  height: 400px;
}

h1{
  color: rgb(14, 194, 218);
  font-weight: bold;
  text-shadow: 0 0 20px rgb(0, 255, 119);
  margin-top: -45px;
  -webkit-text-stroke-width: 0.0025px;
-webkit-text-stroke-color: rgb(0, 0, 0);
}

#myicon{
  width: 50px;
  height: 50px;
  size: 60px;
  border-radius: 20px;
}

/* ---------------- SCAN BUTTON STYLE  -----------------  */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

button{
  padding: 25px 30px;
  background-color: #050801;
  color: #03e9f4;
  font-weight: bold;
  border: 2px solid #0FF0FC;
  border-radius: 5px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  width: 30%;
  height: 20%;
  padding: 20px 20px;
  font-size: medium;
  margin-left: 140px;
  margin-top: 50px;
  margin-right: 85px;
}

button:hover{
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
     -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
}


/* ----------- Image URL Input form ----------*/

/* Variables */
:root {
  --background: #f9f9f9;
  --text: #21232c;
  --input-bg-color: #fff;
  --input-text-color: white;
  --button-bg-color: cyan;
  --button-text-color: black;
}

/* Helper */
.url-container {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin-top: 40px;
  margin-left: 85px;
}

/* Button */
.btn {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 4px 2px;
  transition: all 200ms ease-in;
  cursor: pointer;
  border-radius: 2px;
  border: 2px solid #5fb3e3;
  position: absolute; /* Added */
  left: -10px; /* Adjusted */
  background-color: black; /* Lighter blue color */
  font-family: "Arial", sans-serif; 
  width: 20%;
  height: 10%;
  size: 10%;
  margin-top: -5px;
  margin-left: 55%;
  z-index: 1;
  font-weight: bold;
  border-radius: 3px;
}

.btn:hover {
  background: var(--button-bg-color);
  color: var(--button-text-color);
}



/* Helper */
.url-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Button */

.btn:hover {
  background: var(--button-bg-color);
  color: var(--button-text-color);
}

/* Form */
.form__field {
  width: 160px; /* Adjusted width */
  background: black;
  color: var(--input-text-color);
  font: inherit;
  border: 2px solid var(--button-bg-color);
  border-radius: 4px;
  padding: 6px 10px; /* Adjusted padding */
  margin-right: -20px; /* Adjusted */
  transition: border-color 0.3s ease-in-out;
  font-family: "Arial", sans-serif;
  z-index: 0;
}

.form__field:focus {
  border-color: var(--button-bg-color);
}
