html {
  border-radius: 25px;
}
* {
  background-color: rgb(26, 26, 26);
  color: white;
}
body {
  font-family: "Arial", sans-serif;
  margin: 10px;
}
h1 {
  text-align: center;
}
button {
  padding: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

button:hover {
  background-color: #488d4c;
}

#maliciousScanDiv, #reviewResultDiv{
    text-align: center;
}
#result{
    font-size: 0.8rem;    
    padding: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#btns{
    display: flex;
    flex-direction: row;
    padding: 2%;
    gap: 10px;
}

#displayedImage{
  max-width: 5px;
  height: auto;
}
